extends layout

block content
  //- h2.text-center.mt-n3= car.name
  //- a(class='btn btn-default' role='button' style='background-color: rgb(153, 171, 189)' href='javascript:window.print()') Print Page

  -var age=moment.duration(moment().diff(car.purchase_dt)).years() + 'yr ' + moment.duration(moment().diff(car.purchase_dt)).months() + 'm ' + moment.duration(moment().diff(car.purchase_dt)).days() + 'd'
  
  if lastFill.length
    -var lastFillOdo = lastFill[0].odoMileage;

  div.container-fluid
    div.row
      div.col-12.col-md-2.col-lg-2.col-xl-2.ml-n4
        //- div.nav.flex-column.nav-pills.nav-fill(id='v-pills-tab' role='tablist' aria-orientation='vertical')
        //-   a.nav-link.active(id='v-pills-fills-tab' data-toggle='pill' href='#v-pills-fills' role='tab' aria-controls='v-pills-fills' aria-selected='true') Fill Summary
        //-   a.nav-link(id='v-pills-maint-summ-tab' data-toggle='pill' href='#v-pills-maint-summ' role='tab' aria-controls='v-pills-maint-summ' aria-selected='false') Maintenance Costs
        //-   a.nav-link(id='v-pills-maint-minder-tab' data-toggle='pill' href='#v-pills-maint-minder' role='tab' aria-controls='v-pills-maint-minder' aria-selected='false') Maintenance Minder
        //-   a.nav-link(id='v-pills-info-tab' data-toggle='pill' href='#v-pills-info' role='tab' aria-controls='v-pills-info' aria-selected='false') Car Info
        //-   a.nav-link(id='v-pills-parts-tab' data-toggle='pill' href='#v-pills-parts' role='tab' aria-controls='v-pills-parts' aria-selected='false') Parts List
        //- h2.text-center= car.name
        h5.shadow.p-1.mb-1.bg-success.text-center.rounded= car.name
        div.list-group(id='carDetails' role='tablist')
          a.p-2.list-group-item.list-group-item-action.list-group-item-primary.active(data-toggle='list' href='#v-pills-fills' role='tab') Fill Summary
          a.p-2.list-group-item.list-group-item-action.list-group-item-primary(data-toggle='list' href='#v-pills-maint-summ' role='tab') Servicing Costs
          a.p-2.list-group-item.list-group-item-action.list-group-item-primary(data-toggle='list' href='#v-pills-maint-minder' role='tab') Service Minder
          a.p-2.list-group-item.list-group-item-action.list-group-item-primary(data-toggle='list' href='#v-pills-info' role='tab') Car Info
          a.p-2.list-group-item.list-group-item-action.list-group-item-primary(data-toggle='list' href='#v-pills-parts' role='tab') Parts List

      div.col-11.col-md-10.col-lg-10.col-xl-10.ml-n4
        div.tab-content(id='v-pills-tabContent')

          //-#########################
          //- Tab for Fill Summary
          //-#########################
          div.tab-pane.fade.show.active.mr-n5(id='v-pills-fills' role='tabpanel' aria-labelledby='v-pills-fills-tab')
            if fill_summ.length
              div.card.text-left.border-secondary.mr-n4
                div.card-header.bg-light.pb-1
                  h4 Lifetime MPG :  #{car_mpg}

                div.card-body.mx-0.my-1.p-1
                  div.table-responsive
                    table.table.table-hover.table-sm.table-striped.mb-0
                      thead.thead-dark
                        tr.text-center
                          th Year
                          th Avg Price
                          th Total Gallons
                          th Total Cost
                          th YTD Driven
                          th Avg MPG
                          th Forecast (Miles/Cost)

                      tbody
                        tr
                          each val in fill_summ
                            -var avgPrice = (val.totalCost / val.totalGal).toFixed(3)
                            -var forecastMiles = (365 * (val.totalMiles / moment(val.lastFillDt).diff(prevYrLastFill.lastFillDt,'days'))).toFixed()
                            -var forecastCost  = ((forecastMiles / val.totalMiles) * avgPrice * val.totalGal).toFixed(2)
                            //- if val._id.car == car._id.toString()
                            tr.text-center
                              td
                                //- = val._id.year
                                if val._id.year == moment().year()
                                  a(href='/tracker/fill/'+ val._id.car+'/'+val._id.year) #{val._id.year} 
                                  | #[span(class='badge badge-warning') #{val.count}]
                                else
                                  a(href='/tracker/fill/'+ val._id.car+'/'+val._id.year) #{val._id.year} 
                                  | #[span(class='badge badge-info') #{val.count}]
                              td= '$ ' + avgPrice
                              td= val.totalGal.toFixed(3)
                              td= '$ ' + val.totalCost.toFixed(2)
                              td= val.totalMiles
                              td
                                if car_mpg < (val.totalMiles / val.totalGal).toFixed(2)
                                  = (val.totalMiles / val.totalGal).toFixed(2) + ' '
                                  | #[i.far.fa-smile-beam.fa-lg.text-success]
                                else
                                  = (val.totalMiles / val.totalGal).toFixed(2) + ' '
                                  | #[i.far.fa-frown-open.fa-lg.text-danger]

                              td
                                if val._id.year == moment().year()
                                  = forecastMiles + ' / $ ' + forecastCost

                div.card-footer.p-1
                  //- a(class='btn btn-default' role='button' style='background-color: rgb(153, 171, 189)' href='/tracker/fills') View All
                  a.btn.btn-secondary(role='button' href='/tracker/fills/'+car._id) View All
                  a.btn.btn-outline-secondary.ml-1(role='button' href='/tracker/fill/create/'+car._id) Add New
                  //- div.col-sm-4.col-md-4(class='alert alert-danger') Overall MPG: 

            else
              li(style='list-style:none') There are no Fill entries.
              p
              li(style='list-style:none')
                a(class='btn btn-warning' role='button' href='/tracker/fill/create/'+car._id) Add New Fill
              hr

          //-#########################
          //- Tab for Parts List
          //-#########################
          div.tab-pane.fade.mr-n5(id='v-pills-parts' role='tabpanel' aria-labelledby='v-pills-parts-tab')
            if part_list.length
              div.card.text-left.border-secondary.mr-n4
                div.card-body.mx-0.my-1.p-1
                  div.table-responsive
                    table#dTblParts.table.table-hover.table-sm.table-striped.mb-1
                      thead.thead-dark
                        tr
                          th Part Name
                          th Part Number
                          th Part Desc
                          th Qty
                          th Manufacturer
                          th
                      tbody
                        each val in part_list
                          tr
                            td= val.s_name
                            td
                              a(href=val.url) #{val.partNum}
                            td= val.desc
                            td= val.qty_avl
                            td= (val.manuf == val.car.make? 'OEM' : val.manuf)
                            td
                              a(href=val.url+'/update') #[i.far.fa-edit.fa-lg.text-danger]

                div.card-footer.p-1
                  a.btn.btn-warning(role='button' href='/tracker/part/create') Add New Part
            else
              h6 No Parts available

          //-#########################
          //- Tab for Repair Summary
          //-#########################
          div.tab-pane.fade.mr-n4(id='v-pills-maint-summ' role='tabpanel' aria-labelledby='v-pills-maint-summ-tab')
            if repair_summ.length || last_summ.length
              div.card-deck.mb-1
                div.card.text-center.border-info.mr-0
                  div.card-header.bg-light.pb-1
                    h4 Yearly Snapshot

                  div.card-body.mx-0.my-1.p-1
                    if repair_summ.length
                      //- p 
                      div.table-responsive
                        table.table.table-hover.table-sm.table-striped.mb-1
                          thead.thead-dark
                            tr.text-center
                              th Year
                              th.text-right Total
                              th %
                          tbody
                            tr
                              each val in repair_summ
                                tr.text-center 
                                  td
                                    if val._id.year == 2099
                                      a(href='/tracker/repair/'+ val._id.car+'/'+val._id.year) Future
                                      //- Show total number of repairs done as a badge
                                      //- |  #[span(class='badge badge-warning') #{val.count}]
                                    else
                                      a(href='/tracker/repair/'+ val._id.car+'/'+val._id.year) #{val._id.year} 
                                      //- |  #[span(class='badge badge-info') #{val.count}]                          
                                      //- a(href=car.url+'_'+val._id.year) #{val._id.year} (Details)
                                  td.text-right= '$ ' + val.totalCost.toFixed(2)
                                  td= ((val.totalCost / repair_tot)*100).toFixed(2)
                          
                              td.text-center(style='background-color: lightblue') 
                                strong Grand Total
                              td.text-right(style='background-color: lightblue') 
                                strong $  #{repair_tot.toFixed(2)}
                              td.text-right(style='background-color: lightblue') 

                    else
                      li(style='list-style:none') There are no Repair entries.
                      p
                      li(style='list-style:none')
                        a(class='btn btn-warning' role='button' href='/tracker/repair/create') Add New Repair

                div.card.text-center.border-info.ml-1.mr-n4
                  div.card-header.bg-light.pb-1
                    h4 Category Snapshot

                  div.card-body.mx-0.my-1.p-1
                    div.table-responsive
                      table.table.table-hover.table-sm.table-striped.mb-0
                        thead.thead-dark
                          tr
                            th Category
                            th.text-right Total
                            th %
                        tbody
                          tr
                            each val in repair_summ_by_cat
                              tr
                                //- td= val._id.category
                                td
                                  a(href='/tracker/repair/'+val._id.car+'/cat/'+val._id.category) #{val._id.category}                      
                                td.text-right= '$ ' + val.totalCost.toFixed(2)
                                td= ((val.totalCost / repair_tot)*100).toFixed(2)
                     
              a.btn.btn-secondary(role='button' href='/tracker/repairs/'+car._id) View All
              a.ml-1.btn.btn-info(role='button' href='/tracker/repair/create/'+car._id) Add New

          //-#####################################
          //- Tab for Last Repair Dates & Mileage
          //-#####################################
          div.tab-pane.fade.mr-n5(id='v-pills-maint-minder' role='tabpanel' aria-labelledby='v-pills-maint-minder-tab')
            div.card-deck.mr-n4
              each val, index in last_summ
                if (index)%7 == 0
                  div.w-100.d-none.d-sm-block.d-lg-block.d-xl-block
                  //- div.w-100.d-none.d-lg-block.d-xl-none

                if val._id.category != null & val._id.category != "Misc" 
                  div.card.border-info.mr-n2.mb-2
                    div.card-header.bg-dark.text-center.pb-1
                      h6
                        a.text-white(href='/tracker/repair/'+val._id.car+'/cat/'+val._id.category) #{val._id.category}
                    div.card-body.p-1
                      //- h5.card-title
                      //-   //- u #{val._id.category}
                      //-   a(href='/tracker/repair/'+val._id.car+'/cat/'+val._id.category) #{val._id.category}

                        //- img(class='img-responsive' src='/images/car-service-64.png' width='64' height='64')

                      if val._id.category == "Engine Oil Change"
                        img.card-img-top(src='/images/EngineOil0W20.jpg')
                      else if val._id.category == "Tires"
                        img.card-img-top(src='/images/michelin-x-tour-as-t-h.jpg')
                      else if val._id.category == "Battery"
                        img.card-img-top(src='/images/battery.jpg')
                      else if val._id.category == "Brake Pads"
                        img.card-img-top(src='/images/brakepads.jpg')
                      else if val._id.category == "Brake Fluid Flush"
                        img.card-img-top(src='/images/brake-fluid-flush.jpg')
                      else if val._id.category == "Rear Differential D+R"
                        img.card-img-top(src='/images/honda-dpf2.jpg')
                      else if val._id.category == "Wiper Blade Front" || val._id.category == "Wiper Blade Rear"
                        img.card-img-top(src='/images/wiper-blade.png')
                      //- else if val._id.category == "Cabin Air Filter"
                      //-   img(class='img-responsive' src='/images/cabinfilter.jpg' width='64' height='80')
                      else if val._id.category == "4-Wheel Alignment"
                        img.card-img-top(src='/images/wheel-alignment.jpg')
                      else if val._id.category == "Engine Air Filter"
                        img.card-img-top(src='/images/knairfilter.jpg')
                      else
                        img.card-img-top(src='/images/car-service-64.png')

                    div.card-footer.text-left.p-1
                      li.ml-1(style='list-style: none') Date : 
                        strong #{moment(val.maxWorkDate).format('DD-MMM-YY')}
                      //- li(style='list-style: none') Odometer : #{val.maxMileage}
                      li.ml-1(style='list-style: none') Miles : 
                        strong
                          if lastFillOdo < car.currOdo                    
                            = car.currOdo - val.maxMileage
                          else
                            = lastFillOdo - val.maxMileage
                      li.ml-1(style='list-style: none') Time : 
                        if moment.duration(moment().diff(val.maxWorkDate)).years() > 0 & moment.duration(moment().diff(val.maxWorkDate)).months() > 0
                          strong #{moment.duration(moment().diff(val.maxWorkDate)).years()}y 
                              | #{moment.duration(moment().diff(val.maxWorkDate)).months()}m 
                              | #{moment.duration(moment().diff(val.maxWorkDate)).days()}d
                        else 
                        if moment.duration(moment().diff(val.maxWorkDate)).years() > 0 & moment.duration(moment().diff(val.maxWorkDate)).months() == 0
                          strong #{moment.duration(moment().diff(val.maxWorkDate)).years()}y 
                              | #{moment.duration(moment().diff(val.maxWorkDate)).days()}d
                        else 
                        if moment.duration(moment().diff(val.maxWorkDate)).years() == 0 & moment.duration(moment().diff(val.maxWorkDate)).months() > 0
                          strong #{moment.duration(moment().diff(val.maxWorkDate)).months()}m 
                              | #{moment.duration(moment().diff(val.maxWorkDate)).days()}d
                        else 
                        if moment.duration(moment().diff(val.maxWorkDate)).years() == 0 & moment.duration(moment().diff(val.maxWorkDate)).months() == 0
                          strong #{moment.duration(moment().diff(val.maxWorkDate)).days()}d

          //-#########################
          //- Display Car details
          //-#########################  
          div.tab-pane.fade.mr-n5(id='v-pills-info' role='tabpanel' aria-labelledby='v-pills-info-tab')
            div.card.text-left.border-secondary.mr-n4
              div.card-header.bg-light.pb-1
                h4 Car Details

              div.card-body.my-n2
                form.form
                  fieldset(disabled)
                    div.form-group.form-row.mb-0.align-items-center
                      label.col-form-label.col-md-2(for='year') Model Year
                      div.col-md-2
                        input#year.form-control.form-control-sm(type='number', name='year' value=(undefined===car ? '' : car.year))

                      label.col-form-label.col-md-2(for='purchase_dt') Purchase Date
                      div.col-md-2
                        input#purchase_dt.form-control.form-control-sm(type='date', name='purchase_dt' value=(undefined===car ? '' : car.purchase_dt_yyyy_mm_dd) )

                    div.form-group.form-row.mb-0
                      label.col-form-label.col-md-2(for='make') Manufacturer
                      div.col-md-2
                        input#make.form-control.form-control-sm(type='text', name='make' value=(undefined===car ? '' : car.make))

                      label.col-form-label.col-md-2(for='price') Price
                      div.col-md-2
                        div.input-group.input-group-sm
                          div.input-group-prepend
                            span.input-group-text $
                          input#price.form-control.form-control-sm(type='number', step='any', name='price' value=(undefined===car ? '' : car.price))

                    div.form-group.form-row.mb-0
                      label.col-form-label.col-md-2(for='model') Model
                      div.col-md-2
                        input#model.form-control.form-control-sm(type='text', name='model' value=(undefined===car ? '' : car.model))

                      label.col-form-label.col-md-2(for='color') Color
                      div.col-md-2
                        input#color.form-control.form-control-sm.px-0.py-0(type='color', name='color' value=(undefined===car ? '' : car.color) )

                    div.form-group.form-row.mb-0
                      label.col-form-label.col-md-2(for='trim') Trim
                      div.col-md-2
                        input#trim.form-control.form-control-sm(type='text', name='trim' value=(undefined===car ? '' : car.trim+(car.awd=='yes'? ' AWD' :'')))

                      label.col-form-label.col-md-2(for='startOdo') Starting Mileage
                      div.col-md-2
                        input#startOdo.form-control.form-control-sm(type='number', name='startOdo' value=(undefined===car ? '' : car.startOdo) )

                    div.form-group.form-row.mb-0
                      //- div(class='col-md-2')
                        //- input#awd.checkbox-input(type='checkbox', name='awd' value=('yes'), checked=(undefined===car || car.awd!='yes' ? false : 'checked'))

                      label.col-form-label.col-md-2(for='vin') VIN
                      div.col-md-2
                        input#vin.form-control.form-control-sm(type='text', name='vin' value=(undefined===car ? '' : car.vin))

                      //- div.col-md-2
                      label.col-form-label.col-md-2 AWD
                      div.custom-control.custom-switch.ml-2.pt-2
                        input#awd.custom-control-input(type='checkbox', name='awd' checked=(undefined===car || car.awd!='yes' ? false : 'checked'))
                        label.custom-control-label(for='awd')

                    hr
                    //- h4 Current Info

                    div.form-group.form-row.mb-0
                      label.col-form-label.col-md-2(for='currOdo') Current Odometer
                      div.col-md-2
                        input#currOdo.form-control.form-control-sm(type='number', name='currOdo' value=(undefined===car ? '' : car.currOdo) )

                      label.col-form-label.col-md-2(for='status') Status
                      div.col-md-2
                        select#status.form-control.form-control-sm(type='select', name='status' required='true' )
                          option(value='Active' selected=(undefined===car || car.status!='Active' ? false:'selected')) Active
                          option(value='Sold'   selected=(undefined===car || car.status!='Sold' ? false:'selected')) Sold
                          option(value='Test'   selected=(undefined===car || car.status!='Test' ? false:'selected')) Test
            
              div.card-footer.py-2
                a.btn.btn-primary(href=car.url+'/update') Update

            //- div.table-responsive
            //-   table.table.table-sm.table-hover.mb-1
            //-     thead.thead-dark
            //-       tr
            //-         th VIN
            //-         th Trim
            //-         th Purchase Date
            //-         th.text-center Latest Mileage
            //-         th Color
            //-     tbody
            //-       tr
            //-         td 
            //-           a(href=car.url+'/update') **#{car.vin.slice(-5)}
            //-         td
            //-           = car.trim+(car.awd == 'yes' ? ' AWD' : '')
            //-         td
            //-           = (car.status == 'Sold'? car.purchase_dt_format : car.purchase_dt_format + ' (' + age + ')')
            //-         td.text-center
            //-           = (lastFillOdo > car.currOdo ? lastFillOdo : car.currOdo)
            //-         td(bgcolor=car.color)