extends layout

block content
  h1(class='page-header')= title

  p #[strong Name:] #{category.name}
  p #[strong Interval:] #{category.interval}
  p #[strong Desc:] #{category.desc}
  p #[strong Notes:] #{category.notes}

  hr
  p
    a(href=category.url+'/update') Update Category