extends layout

block content
  if fill_year
    h2.text-center.mt-n3= title + ' - ' + car.name + ' - '+ fill_year
  else
    h2.text-center.mt-n3= title + ' - ' + car.name + ' - All Years'

  if fill_list.length
    div.table-responsive
      table.table.table-hover.table-sm.table-striped
        thead.thead-dark
          tr.text-center
            //th Car
            th Fill Date
            th Price/Gal
            th.text-right.pr-5 Gallons
            th.text-right.pr-5 Total Price
            th.text-right.pr-5 Miles
            th Avg MPG
            th Odometer
            th.text-left Gas Station
            th
        tbody
          tr
            each val in fill_list
              if val.car.short_name == car.short_name
                tr
                  td.text-center
                    a(href=val.url+'/update') #{val.fill_dt_formatted}
                  td.text-center= '$ '+val.price_per_gal
                  td.text-right.pr-5= val.total_gal
                  td.text-right.pr-5= '$ '+val.total_price
                  td.text-right.pr-5= val.miles
                  td.text-center(style='background-color: wheat')= val.avg_mpg
                  td.text-center= val.odoMileage
                  td= val.station.name
                  td
                    a(href=val.url+'/delete') #[i.far.fa-trash-alt.fa-lg.text-danger]

  else
    li(style='list-style:none') There are no Fill Entries.

  br
  p
    a.btn.btn-warning(role='button' href='/tracker/fill/create/'+car._id) Add New Fill
  
  br
  p
  