extends layout

block content
  h1(class='page-header')= title
  
  h4= part.car.short_name + ': ' + part.s_name
  
  div.col-md-4
    table.table.table-sm.px-0
      //- tr
      //-   th Car
      //-   td= part.car.short_name
      
      tr
        th Part Number
        td= part.partNum

      tr
        th Part Name
        td= part.s_name

      tr
        th Part Desciption
        td= part.desc

      tr
        th Part Notes
        td= part.notes

      tr
        th Available Qty
        td= part.qty_avl

      tr
        th Manufacturer
        td= part.manuf

  br
  a.btn.btn-info(href=part.url+'/update' role='button') Update Part Info
  a.btn.btn-warning.ml-1(href='/tracker/part/create') Add New Part