extends layout

block content
  h1(class='page-header')= title
  //- hr
  
  if part_list.length && car_list.length
    div.row
      div.col-2
        div.list-group(id='partsList' role='tablist')
          each car, index in car_list
            if index == 0
              a.list-group-item.list-group-item-action.list-group-item-info.active(data-toggle='list' href=car.hashname role='tab') 
                | #{car.name} #[img.rounded.float-right.mx-auto(src='/images/'+car.path width='40' height='25')] 
            else
              a.list-group-item.list-group-item-action.list-group-item-info(data-toggle='list' href=car.hashname role='tab')
                | #{car.name} #[img.rounded.float-right.mx-auto(src='/images/'+car.path width='40' height='25')] 

        br
        a.btn.btn-info.btn-lg.btn-block(role='button' href='/tracker/part/create') Add New Part

      div.col-10
        div.tab-content
          each car, index in car_list
            if index == 0
              div.tab-pane.fade.show.active(id=car.nohashname role='tabpanel')
                include tableParts
            else
              div.tab-pane.fade(id=car.nohashname role='tabpanel')
                include tableParts

  else
    li(style='list-style:none') There are no parts added.