extends layout

block content
  h2.mt-n3= title
  
  if part_list.length && car_list.length
    div.container-fluid
      div.row
        div.col-12.col-md-2.col-lg-2.col-xl-2.ml-n4.mb-1
          div.list-group(id='partsList' role='tablist')
            each car, index in car_list
              if index == 0
                a.p-2.list-group-item.list-group-item-action.list-group-item-info.active(data-toggle='list' href=car.hashname role='tab') 
                  | #{car.name} #[img.rounded.float-right.mx-auto(src='/images/'+car.path width='45' height='25')] 
              else
                a.p-2.list-group-item.list-group-item-action.list-group-item-info(data-toggle='list' href=car.hashname role='tab')
                  | #{car.name} #[img.rounded.float-right.mx-auto(src='/images/'+car.path width='45' height='25')] 

          a.mt-1.p-1.btn.btn-dark.btn-lg.btn-block(role='button' href='/tracker/part/create') Add New Part

        div.col-11.col-md-10.ml-n4
          div.tab-content
            each car, index in car_list
              -var tabID = 'dTbl'+car.nohashname+'Parts'
              if index == 0
                div.tab-pane.fade.show.active.mr-n5(id=car.nohashname role='tabpanel')
                  div.card.text-left.border-secondary.mr-n4
                    div.card-body.mx-0.my-1.p-1
                      include tableParts
              else
                div.tab-pane.fade.mr-n5(id=car.nohashname role='tabpanel')
                  div.card.text-left.border-secondary.mr-n4
                    div.card-body.mx-0.my-1.p-1
                      include tableParts

  else
    li(style='list-style:none') There are no parts added.