extends layout

block content
  if work_year == 2099
    h1(class='page-header')= title + ' - ' + car.name + ' - Future'  
  else
    if work_year
      h1(class='page-header')= title + ' - ' + car.name + ' - ' + work_year
    else
      h1(class='page-header')= title + ' - ' + car.name + ' - All Years' 

  -var prev_cat = ' '
  -var prev_dt  = ' '
  -var prev_loc = ' '
  -var prev_odo = 0

  if repair_list.length
    div.table-responsive
      table.table.table-hover.table-sm.table-striped
        thead.thead-dark
          tr
            th Work Date
            th Odometer
            th Category
            th Work Location
            th Total Cost
            th Part Used
            //- th Manufacturer
            th Part Purchased At
            th 
        tbody
          tr
            each val in repair_list
              tr
                td
                  //- if val.category == prev_cat & val.work_dt_formatted == prev_dt
                  if val.work_dt_formatted == prev_dt & val.work_dt_future != 'TBD'
                    = ' '
                  else
                    if val.work_dt_future == 'TBD'
                      a(href=val.url+'/update' style='text-align: center') Update
                    else if val.work_desc.length
                      a(href=val.url+'/update') #{val.work_dt_formatted} *
                    else
                      a(href=val.url+'/update') #{val.work_dt_formatted}

                td(style='text-align: center')
                  if val.odoMileage == prev_odo && val.work_dt_formatted == prev_dt
                    = ' '
                  else
                    if val.work_dt_future == 'TBD'
                      = ' '
                      //- | TBD
                    else 
                      = val.odoMileage
                td
                  if val.category == prev_cat 
                    = ' '
                  else
                    = val.category
                td
                  if val.category == prev_cat && val.shop_loc == prev_loc
                    = ' '
                  else
                    = val.shop_loc
                td(style='text-align: right')= '$ ' + val.total_cost
                td 
                  if val.part.partNum == "Misc"
                    = val.work_desc
                  else
                    = val.part.part_sht_desc
                //- td= val.part.manuf
                td= val.purchased_at
                td
                  a(href=val.url+'/update') #[i.far.fa-edit.fa-lg]
                -var prev_cat = val.category
                -var prev_dt  = val.work_dt_formatted
                -var prev_loc = val.shop_loc
                -var prev_odo = val.odoMileage

  else
    li(style='list-style:none') There are no Repairs.
          
  br
  p
    a(class='btn btn-warning' role='button' href='/tracker/repair/create/'+car._id) Add New
  //- footer
  //-   p(class='pull-right')
  //-     a(href='#') Back to Top    
