extends layout

block content
  h2.mt-n3= title

  if repair_list && repair_list.length && car_list && car_list.length
    div.container-fluid
      div.row
        div.col-2.col-md-2.ml-n4
          div.list-group(id='repairList' role='tablist')
            each car, index in car_list
              if index == 0
                a.p-2.list-group-item.list-group-item-action.list-group-item-info.active(data-toggle='list' href=car.hashname role='tab') 
                  | #{car.name} #[img.rounded.float-right.mx-auto(src='/images/'+car.path width='45' height='25')] 
              else
                a.p-2.list-group-item.list-group-item-action.list-group-item-info(data-toggle='list' href=car.hashname role='tab')
                  | #{car.name} #[img.rounded.float-right.mx-auto(src='/images/'+car.path width='45' height='25')] 

            //- a(href='/tracker/repair/create') Add New Repair    
          a.mt-2.btn.btn-dark.btn-lg.btn-block(role='button' href='/tracker/repair/create') Add New Repair

        div.col-10.col-md-10.ml-n4
          div.tab-content
            each car, index in car_list
              -var tblID = 'dTbl'+car.nohashname+'Repairs'
              if index == 0
                div.tab-pane.fade.show.active.mr-n5(id=car.nohashname role='tabpanel')
                  include tableRepairs
              else
                div.tab-pane.fade.mr-n5(id=car.nohashname role='tabpanel')
                  include tableRepairs

  else
    li(style='list-style:none') There are no Repairs.
    br
    p
      //- a(href='/tracker/repair/create') Add New Repair    
      a(class='btn btn-primary' role='button' href='/tracker/repair/create') Add New Repair

