extends layout

block content
  //h2= title + ' - ' + car.name
  h1(class='page-header')= car.name

  table
    tr(style='background-color: wheat;color:black')
      th Year
      th Make
      th Model
      th Trim
      th VIN
    tr
      td= car.year 
      td= car.make      
      td= car.model
      td= car.trim
      td= car.vin

    //tr
      th(style='background-color: wheat;color:black') Year
      td= car.year

    //tr
      th(style='background-color: wheat;color:black') Make
      td= car.make

    //tr
      th(style='background-color: wheat;color:black') Model
      td= car.model

    //tr
      th(style='background-color: wheat;color:black') Trim
      td= car.trim

    //tr
      th(style='background-color: wheat;color:black') VIN
      td= car.vin

  br
  p
    a(href=car.url+'/update') Update Car Details

  hr
  h3= 'Fill History '
    small (
      a(href='/tracker/fill/create') Add New)

  if fills.length
    //p
      a(href='/tracker/fill/create') Add New Fill    
    //br
    table
      tr
        //th Car
        th Fill Date
        th Price/Gal
        th Total Gallons
        th Total Price
        th Miles
        th Avg MPG
        th Odo Mileage
        th Gas Station
        //th Action
      
      tr

        //ul
        each val in fills

          tr
            //td= val.car.short_name
            td 
              //= val.fill_dt_formatted
              a(href=val.url+'/update') #{val.fill_dt_formatted}            
            td= '$ '+val.price_per_gal
            td= val.total_gal
            td(style='text-align: center')= '$ '+val.total_price
            td= val.miles
            td(style='text-align: center')= val.avg_mpg
            td(style='text-align: center')= val.odoMileage
            td= val.station.name
            //td
              a(href=val.url+'/update') Update
      //li 
      //a(href=val.url) #{val.fill_date} '@#' #{val.car.name} : #{val.station.name} - 
      
  else
    li(style='list-style:none') There are no Fill Entries.
    //p
    //a(href='/tracker/fill/create') Add New Fill    

  hr
  h3= 'Repair History ' 
    small (
      a(href='/tracker/repair/create') Add New)


  //if repairTot.length
    each val in repairTot
      li(style='list-style:none') Total Cost: #{val}

  if repairs.length
    //p
      a(href='/tracker/repair/create') Add New Repair
  
    table
      tr
        //th(style='background-color: white')
        //th Car
        th Work Date
        th Odometer
        //th Part Desc
        th Work Location
        th Cost
        //th Work Description
        th Part Used
        th Part Purchased At
      
      tr

      each val in repairs

        tr
          //td 
            a(href=val.url) Details 
          //td= val.car.short_name
          td
            //= val.work_dt_formatted
            a(href=val.url+'/update') #{val.work_dt_formatted}
          td= val.odoMileage
          td= val.shop_loc
          td= '$ ' + val.amount
          //td= val.work_desc
          td= val.part.part_sht_desc
          td= val.purchased_at
          //td
            a(href=val.url+'/update') Update
            //br
            //a(href=val.url+'/update') Delete

  else
    li(style='list-style:none') There are no Repairs.
    //p
    //a(href='/tracker/repair/create') Add New Repair    

  hr
  h3= 'Parts list '
    small (
      a(href='/tracker/part/create') Add New)

  if parts.length
    //p
    //a(href='/tracker/part/create') Add New Part
    //br
    table
      tr
        //th(style='background-color: white')
        th Part Number
        th Name
        //th Part Desc
        th Qty
        th OEM?
        //th Notes        
      
      tr

      each val in parts

        tr
          td
            a(href=val.url) #{val.partNum}
          td= val.s_name
          //td= val.part_desc
          td= val.qty_avl
          td(style='text-align: center')
            if val.manuf == val.car.make
              = 'Y'
            else
              = ' '
          td
            a(href=val.url+'/update') Update
            //br
            //a(href=val.url+'/update') Delete
          
  else
    li(style='list-style:none') There are no parts added.
    //p
    //a(href='/tracker/part/create') Add New Part


  br

  footer
    p(class='pull-right')
      a(href='#') Back to Top    