extends layout_bank

block content
  h1(class='page-header')=title
  //- hr

  form(class='form-' method='POST' action='')

    div.form-group.row
      label(class='col-form-label col-sm-2' for='account') Account
      div(class='col-sm-2')
        select#account.form-control(type='select', placeholder='Select Account' name='account' required='true' )
          option(value='Select An Account' selected) Select an Account
          for bank in accounts
            if transaction
              option(value=bank._id, selected=(bank._id.toString()==transaction.bank._id.toString() ? 'selected' : false) ) #{bank.bankName}
            else if bank_id
              option(value=bank._id selected=(bank._id.toString()==bank_id ? 'selected' : false) ) #{bank.bankName}
            else
              option(value=bank._id) #{bank.bankName}            

      //- div.form-group.row
      label(class='col-form-label col-sm-2' for='due_dt') Due Date
      div(class='input-group col-sm-2')
        div(class='input-group-prepend')
          span(class='input-group-text')
           i(class='fas fa-calendar-alt')
        input#due_dt.form-control(type='date', name='due_dt' value=(undefined===transaction ? moment().format('YYYY-MM-DD') : transaction.due_dt_yyyymmdd))


    div.form-group.row
      label(class='col-form-label col-sm-2' for='account') Pay From
      div(class='col-sm-2')
        select#account.form-control(type='select', placeholder='Select Account' name='account' required='true' )
          option(value='Select An Account' selected) Select an Account
          for bank in banks
            if transaction
              option(value=bank._id, selected=(bank._id.toString()==transaction.bank._id.toString() ? 'selected' : false) ) #{bank.bankName}
            else if bank_id
              option(value=bank._id selected=(bank._id.toString()==bank_id ? 'selected' : false) ) #{bank.bankName}
            else
              option(value=bank._id) #{bank.bankName}            

      //- div.form-group.row
      label(class='col-form-label col-sm-2' for='payment_dt') Pay on Date
      div(class='input-group col-sm-2')
        div(class='input-group-prepend')
          span(class='input-group-text')
           i(class='fas fa-calendar-alt')
        input#payment_dt.form-control(type='date', name='payment_dt' value=(undefined===transaction ? moment().format('YYYY-MM-DD') : transaction.payment_dt_yyyymmdd))

    //- div.form-group
    //-   label(class='col-form-label col-sm-2' for='due_dt') Submit Date
    //-   div(class='col-sm-2')
    //-     div(class='input-group')
    //-       span(class='input-group-addon')
    //-        i(class='fas fa-calendar-alt')
    //-       input#due_dt.form-control(type='date', name='due_dt' value=(undefined===transaction ? moment().format('YYYY-MM-DD') : transaction.due_dt_yyyymmdd))

    div.form-group.row
      label(class='col-form-label col-sm-2' for='amount') Amount Due
      div(class='input-group col-sm-2')
        div(class='input-group-prepend')
          span(class='input-group-text') $
        input#amount.form-control(type='number', placeholder='0.00' name='amount' step='any' value=(undefined===transaction ? '' : transaction.amount) )

    div.form-group.row
      label(class='col-form-label col-sm-2' for='status') Status
      div(class='col-sm-2')
        select#status.form-control(type='select', placeholder='Select Status' name='status' required='true' )
          option(value='N/A' selected=(undefined===transaction || transaction.category!='N/A' ? false:'selected')) N/A
          option(value='Due' selected=(undefined===transaction || transaction.category!='Due' ? false:'selected')) Due
          option(value='Scheduled' selected=(undefined===transaction || transaction.category!='Scheduled' ? false:'selected')) Scheduled
          option(value='Complete' selected=(undefined===transaction || transaction.category!='Complete' ? false:'selected')) Complete

    button.col-sm-offset-2.col-sm-1.btn.btn-primary(type='submit') Submit
    button.col-sm-1.btn.btn-default(style='margin-left: 10px; background-color: lightgray', type='reset') Reset
    

  if errors 
    ul
      for error in errors
        li!= error.msg