extends layout_bank

block content
  h1(class='page-header')= title

  p #[strong Bank:] #{account.accountName}
  p #[strong Account ID:] #{account.accountID}
  p #[strong Current Balance:] #{account.currBal}
  //- p #[strong Zip :] #{station.zipcode}

  hr
  p
    a(href=account.url+'/update') Update Account Info