extends layout

block content

  if error
    p Error getting dynamic content.
  else
    //- h2.mt-n3.text-center Car Tracker Home
    if car_list.length
      div.row.row-cols-1.row-cols-md-3.no-gutters
        each car in car_list
          if car.status == 'Active'
            div.col.mb-2.ml-1
              div.card.h-100
                div.card-header.text-center.bg-info.pt-1.pb-0
                  h3 #{car.name}
                div.card-body
                  a(href=car.url)
                    img.card-img-top(src='/images/'+car.path)
                    //- if car.make == 'Honda'
                    //-   img.card-img-top(src='/images/2012_honda_crv_ex2.jpg')
                    //- else if car.make == 'Nissan' 
                    //-   img.card-img-top(src='/images/14Altima-GunMetallic.jpg')

          else
            div.col.mb-2.ml-1
              div.card.h-100
                div.card-header.text-center.bg-secondary.pt-1.pb-0
                  h3 #{car.name}
        
                div.card-body
                  a(href=car.url)              
                    if car.path
                      img.card-img-top(src='/images/'+car.path)
                    //- if car.make == 'Honda'
                    //-   img.card-img-top(src='/images/2012_honda_crv_ex2.jpg')
                    //- else if car.make == 'Nissan' 
                    //-   img.card-img-top(src='/images/14Altima-GunMetallic.jpg')
                    //- else if car.make == 'Mazda' 
                    //-   img.card-img-top(src='/images/2007mazda6-iSV.jpg')
                    else
                      img.card-img-top(src='/images/car-placeholder-2.png')


      //- div.card-deck
      //-   each car in car_list
      //-     if car.status == 'Active'
      //-       //- div.w-auto.p-1
      //-       div.card.text-center.border-info.col-lg-2.col-md-2.mr-n2
      //-         div.card-header.bg-info.mx-n3.pt-1.pb-0
      //-           h3 #{car.name}
      //-         div.card-body
      //-           a(href=car.url)
      //-             if car.make == 'Honda'
      //-               img.card-img-top(src='/images/2012_honda_crv_ex2.jpg')
      //-             else if car.make == 'Nissan' 
      //-               img.card-img-top(src='/images/14Altima-GunMetallic.jpg')

      //-     if car.status != 'Active'
      //-       div.card.text-center.border-secondary.col-lg-2.col-md-2
      //-         div.card-header.bg-secondary.mx-n3.pt-1.pb-0
      //-           h3 #{car.name}
      
      //-         div.card-body
      //-           a(href=car.url)              
      //-             if car.make == 'Honda'
      //-               img.card-img-top(src='/images/2012_honda_crv_ex2.jpg')
      //-             else if car.make == 'Nissan' 
      //-               img.card-img-top(src='/images/14Altima-GunMetallic.jpg')
      //-             else if car.make == 'Mazda' 
      //-               img.card-img-top(src='/images/2007mazda6-iSV.jpg')
      //-             else
      //-               img.card-img-top(src='/images/car-placeholder-2.png')

      //- hr
      //- h3
      //-   u Older Cars
      //- div.card-deck
      //-   each car in car_list
      //-     if car.status != 'Active'
      //-       div.card.text-center.border-secondary.col-lg-3.col-md-3
      //-         div.card-header.bg-secondary.mx-n3.pt-1.pb-0
      //-           h3 #{car.name}
      
      //-         div.card-body
      //-           a(href=car.url)              
      //-             if car.make == 'Honda'
      //-               img.card-img-top(src='/images/2012_honda_crv_ex2.jpg')
      //-             else if car.make == 'Nissan' 
      //-               img.card-img-top(src='/images/14Altima-GunMetallic.jpg')
      //-             else if car.make == 'Mazda' 
      //-               img.card-img-top(src='/images/2007mazda6-iSV.jpg')
      //-             else
      //-               img.card-img-top(src='/images/car-placeholder-2.png')

    else
      li(style='list-style:none') No cars added yet.
      br
      p
        a(class='btn btn-warning' role='button' href='/tracker/car/create') Add A Car
