extends layout

block content
  h2.text-center.mt-n3= title + ' - ' + car.name + ' - ' + work_category

  if repair_list.length
    div.table-responsive
      table.table.table-hover.table-sm.table-striped
        thead.thead-dark
          tr
            th Work Date
            th.text-right.pr-5 Odometer
            th Work Location
            th.text-right.pr-5 Total Cost
            th Part Used
            //- th Manufacturer
            th Part Purchased At
        tbody                          
          tr
            each val in repair_list
              if val.category == work_category
                tr
                  td
                    if val.work_dt_future == 'TBD'
                      a.text-center(href=val.url+'/update') Update
                    else if val.work_desc.length
                      a(href=val.url+'/update') #{val.work_dt_formatted} *
                    else
                      a(href=val.url+'/update') #{val.work_dt_formatted}
                  td.text-right.pr-5
                    if val.work_dt_future == 'TBD'
                      | TBD
                    else 
                      = val.odoMileage
                  td= val.shop_loc
                  td.text-right.pr-5= '$ ' + val.total_cost
                  td 
                    if val.part.partNum == "Misc"
                      = val.work_desc
                    else
                      = val.part.part_sht_desc
                  //- td= val.part.manuf
                  td= val.purchased_at

  else
    li(style='list-style:none') There are no Repairs.
          
  br
  p
    a(class='btn btn-warning' role='button' href='/tracker/repair/create/'+car._id) Add New
  //- footer
  //-   p(class='pull-right')
  //-     a(href='#') Back to Top    
