extends layout_bank

block content
  a.btn.btn-primary.float-right.mt-n1(href='#' data-toggle='modal' data-target='#newTxnModal') #[i.fas.fa-plus] New Transaction
  include transaction_add_modal

  h3.mt-n4.mb-3= title
  //- if transaction_list && transaction_list.length 
    //- -console.log(transaction_list)
  if account_list && account_list.length
    div.row
      div.col-12.col-lg-6
        div.tab.tab-vertical
          ul.nav.nav-tabs(role='tablist')
            each account, index in account_list
              li.nav-item
                if index == 0
                  a.nav-link.active(role='tab' aria-selected='true' data-toggle='tab' href=account.hashname) #{account.fullname}

                else
                  a.nav-link(role='tab' aria-selected='true' data-toggle='tab' href=account.hashname) #{account.fullname}

          div.tab-content
            each account, index in account_list
              -var tabId = 'tab-'+account.nohashname
              -var tblId = 'dTbl'+account.nohashname
              if index == 0
                div.tab-pane.fade.show.active(id=account.nohashname role='tabpanel')
                  //- h4.tab-title #{account.fullname}
                  div.table-responsive
                    table.table.table-hover.table-sm.table-striped(id=tblId)
                      thead
                        tr
                          th From
                          th To
                          th Date
                          th Amount
                          th Status
                      tbody
                        each txn in transaction_list
                          if account._id.toString() == txn.payFromAccount._id.toString()
                            tr
                              td= txn.payFromAccount.fullname
                              td= txn.payeeAccount.fullname                              
                              td= moment(txn.payment_dt).format('MMM DD, YYYY (dddd)')
                              td= '$ ' + txn.payAmount
                              td= txn.currStatus

              else
                div.tab-pane.fade(id=account.nohashname role='tabpanel')
                  //- h4.tab-title #{account.fullname}
                  div.table-responsive
                    table.table.table-hover.table-sm.table-striped(id=tblId)
                      thead
                        tr
                          th From
                          th To
                          th Date
                          th Amount
                          th Status
                      tbody
                        each txn in transaction_list
                          if account._id.toString() == txn.payFromAccount._id.toString() || account._id.toString() == txn.payeeAccount._id.toString()
                            tr
                              td= txn.payFromAccount.fullname
                              td= txn.payeeAccount.fullname                              
                              td= moment(txn.payment_dt).format('MMM DD, YYYY (dddd)')
                              td= '$ ' + txn.payAmount
                              td= txn.currStatus



    //- each account in account_list

    //-   button.btn-lg.btn-primary.btn-block(style='text-align: left' type='button' data-target=account.hashname data-toggle='collapse' aria-expanded='true' aria-controls=account.nohashname) 
    //-     | #{account.accountName} #[span(class='glyphicon glyphicon-expand')]
      
    //-   //- If account is not 'Active', collapse any Repair history by default
    //-   if account.status == 'Active'      
    //-     div(class='collapse in' id=account.nohashname )
    //-       div(class='well well-lg pre-scrollable')

    //-         //- h4
            //-   mark(style='background-color: wheat') Yearly Summary

            //- table(class='table-hover')
            //-   tr
            //-     th Year
            //-     th # of Repairs
            //-     th Total Cost

            //-   tr
            //-     each cost in cost_list
            //-       if cost._id.account == account._id.toString()
            //-         tr  
            //-           td 
            //-             if cost._id.year == 2099
            //-               = 'Upcoming'
            //-             else
            //-               = cost._id.year 
            //-           td(style='text-align: right')= cost.count
            //-           td(style='text-align: right')= '$ ' + cost.totalCost.toFixed(2)

            //-     //- button.btn-lg.btn-info(style='text-align: left' type='button' data-toggle='collapse' data-target=cost._id.year aria-controls=cost._id.year aria-expanded='true') #{cost._id.year} (#{cost.count})
            //-     //- div(class='collapse in' id=cost._id.year)
            //-     //- div(class='well')
            //- br
            //- h4
            //-   mark(style='background-color: wheat') Upcoming Repairs            
            table(class='table-hover')
              tr
                th Due Date
                th Payment Date
                th Date Submitted
                th Pay From
                th Amount Due
                th Status

              tr
                each val in transaction_list
                  if val.account.nohashname == account.nohashname
                    tr
                      td(style='text-align: center')
                        a(href=val.url+'/update') #{val.due_dt_ddmmmyy}
                      td(style='text-align: center') #{val.payment_dt_ddmmmyy}
                      td(style='text-align: center') #{val.submit_dt_ddmmmyy}
                      td= val.account.accountName
                      td(style='text-align: right')= '$ ' + val.amount
                      td= val.status

            //- br
            //- h4
            //-   mark(style='background-color: wheat') Completed Repairs            

            //- table(class='table-hover')
            //-   tr
            //-     th Work Date
            //-     th Odometer
            //-     th Work Location
            //-     th Total Cost
            //-     th Part Used
            //-     //- th Manufacturer
            //-     th Part Purchased At
                              
            //-   tr
            //-     each val in transaction_list
            //-       if val.account.short_name == account.short_name & val.work_dt_future != 'TBD'
            //-         tr
            //-           td
            //-             //if val.work_dt_future != 'TBD'
            //-             if val.work_desc.length
            //-               a(href=val.url+'/update') #{val.work_dt_formatted} 
            //-               | *
            //-             else
            //-               a(href=val.url+'/update') #{val.work_dt_formatted}
            //-           td(style='text-align: right')= val.odoMileage
            //-           td= val.shop_loc
            //-           td(style='text-align: right')= '$ ' + val.total_cost
            //-           td 
            //-             if val.part.partNum == "Misc"
            //-               = val.work_desc
            //-             else
            //-               = val.part.part_sht_desc
            //-           //- td= val.part.manuf
            //-           td= val.purchased_at
      footer
        p(class='pull-right')
          a(href='#') Back to Top    

  else
    li(style='list-style:none') There are no Transactions.
    //- br
    //- p
    //-   a(class='btn btn-primary' role='button' href='/fintra/transaction/create') Add New Transaction
