extends layout

block content
  h1(class='page-header')= title
    small  (
      a(href='/tracker/repair/create') Add New)
  
  ul

  if repair_list.length
    table
      tr
        //th(style='background-color: white')
        th Car
        th Work Date
        th Odometer
        //th Part Desc
        th Work Location
        th Cost
        //th Work Description
        th Part Used
        th Part Purchased At
      
      tr

      each val in repair_list

        tr
          //td 
            a(href=val.url) Details 
          td= val.car.short_name
          td 
            a(href=val.url+'/update') #{val.work_dt_formatted}
            //a(href=car.url) #{car.name} 
          td= val.odoMileage
          td= val.shop_loc
          td= '$ ' + val.amount
          //td= val.work_desc
          td 
            if val.part.partNum == "None"
              = val.work_desc
            else
              = val.part.part_sht_desc
          td= val.purchased_at
          //td
            //a(href=val.url+'/update') Update
            //br
            //a(href=val.url+'/update') Delete

  else
    li(style='list-style:none') There are no Repairs.
          
  br
  p
    //a(href='/tracker/repair/create') Add New Repair    
    a(class='btn btn-primary' role='button' href='/tracker/repair/create') Add New Repair